* {
    font-family: 'Source Sans Pro', sans-serif;
    color: #f5f5f5;
}

body {
    transition: all 1s ease-in-out;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    background: #f5f5f5;
}

p {
    transition: all 2.5s ease-in-out;
}

.game_container {
    margin: auto;
    width: auto;
}

.guesses_left {
    font-size: 24px;
}

.letters_chosen {
    font-size: 20px;
    margin: auto;
}

.status {
    transition: all 0.5s;
    font-size: 40px;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
}

.other_spin {
    -webkit-animation: otherspin 2s infinite linear;
}

.word_mask, .score {
    font-size: 36px;
}

.win_text_one, .loss_text_one {
    left: 25px;
}

.win_text_two, .loss_text_two {
    right: 25px;
}

.win_text_one, .win_text_two, .loss_text_one, .loss_text_two {
    position: fixed;
    transition: all 0.5s;
    font-size: 50px;
    top: 25px;
    display: none;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-360deg);}   
}

@-webkit-keyframes otherspin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}